#wrapPane, #mainPane{
    -fx-border-radius: 25px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-background-radius: 25px;
}

.label{
    -fx-font-size: 16px;
}

.button{
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-font-size: 14px;
}

#closeWindowBtn{
    -fx-pref-width: 54px;
    -fx-pref-height: 38px;
    -fx-background-color: #d1192b;
}

#closeWindowBtn:hover{
    -fx-background-color: #fa021b;
}

#minimizeWindowBtn{
    -fx-pref-width: 54px;
    -fx-pref-height: 38px;
    -fx-background-color: #28c213;
}

#minimizeWindowBtn:hover{
    -fx-background-color: #22fa05;
}

#resizeWindowBtn{
    -fx-pref-width: 54px;
    -fx-pref-height: 38px;
    -fx-background-color: #dbc81d;
}

#resizeWindowBtn:hover{
    -fx-background-color: #f7df07;
}

.button:hover{
    -fx-cursor: hand;
}

#windowControl{
    -fx-spacing: 5px;
}

.HBox{
    -fx-spacing: 10px;
}

#sidebarControl{
    -fx-padding: 5px;
    -fx-border-style: solid;
    -fx-border-radius: 25px;
    -fx-border-width: 1px 1px 1px 0;
    -fx-spacing: 10px;
}

.combo-box{
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-font-size: 14px;
}

#assignmentTableView{
    -fx-border-radius: 0 0px 25px 0px;
    -fx-background-radius: 0 0 25px 25px;
}

.table-row-cell:selected{
    -fx-background-color: #0099cc;
    -fx-text-background-color:  white;
}

.table-row-cell{
    -fx-font-size: 16px;
}

.column-header{
    -fx-border-radius: 25px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-background-radius: 25px;
}

.table-view .column-header-background .label{
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.choice-box{
    -fx-background-radius: 25px;
}

.choice-box .menu-item{
    -fx-pref-width: 240px;
    -fx-background-radius: 25px;
}

.choice-box .context-menu{
    -fx-background-radius: 25px;
}

.choice-box .menu-item:focused{
    -fx-background-color:  #0099cc;
}

.dialog-pane{
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

